{% if product.available %}
  {% assign first_variant = product.first_available_variant %}
  <tr row="{{row_id}}" style="display:none;">

    <td>
      <a href="{{ first_variant.url | collection }}" >
        <img src="{{ first_variant.image | default: product.featured_image | img_url: 'small' }}" alt="{{ first_variant.title | escape }}" />
      </a>
    </td>
    <td class="order-form__tablecell--title">
      <a href="{{ first_variant.url | collection }}">
        <span class="product-card__name link-accent-color">{{ product.title }}</span>
      </a>
    </td>
    <td>
      <button class="configure-options">Select options</button>
  </div>
    </td>
    <td class="order-form__tablecell--center" >
      {% if product.template_suffix == 'customizable' %}
        <input type="hidden" name="properties[Optional checkbox]" value="No">
        <input class="optional-checkbox" type="checkbox" name="properties[Optional checkbox]" value="Yes">
        <label class="optional-checkbox-label">{{ settings.inline_optional }}</label>
      {% endif %}
    </td>
    <td class="order-form__tablecell--center">
      {% if product.template_suffix == 'customizable' %}
        <label class="required-label"> {{ settings.inline_required }} </label><br>
        <input class="required" type="radio" name="{{first_variant.id}}-{{row_id}}-properties[Required radio button]" value={{settings.inline_required_first_button}}> <span>{{settings.inline_required_first_button}}</span><br>
        <input class="required" type="radio" name="{{first_variant.id}}-{{row_id}}-properties[Required radio button]" value={{settings.inline_required_second_button}}> <span>{{settings.inline_required_second_button}}</span><br>
        <div>
          <span class="order-form__tablecell--popuptext" style="display:none;">Select an option</span>
        </div>
      {% endif %}
    </td>
    <td class="order-form__tablecell--center">
      {% if product.variants.size > 1 %}
        <select name="id" >
          {% for variant in product.variants %}
            <option value="{{variant.id}}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      {% else %}
        <data value="{{first_variant.id}}"></data>
      {% endif %}
    </td>
    <td class="order-form__tablecell--center">
      {% for variant in product.variants %}
        <p class="price" id="p-{{ variant.id }}-{{row_id}}"> {{ variant.price | money }} </p>
      {% endfor %}
    </td>
    <td class="order-form__tablecell--center order-form__tablecell--quantity">
      {% for variant in product.variants %}
        <input onfocus="this.select()" id="q-{{ variant.id }}-{{row_id}}" class="quantity-field" min="0" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="number" value="0" tabindex="1" />
      {% endfor %}
    </td>

  </tr>
{% endif %}