{% assign selected_collection = canonical_url | split: "/" | last | split: "?" | first  %}
{% if selected_collection == "order-form" %}
  {% assign collection = collections.all %}
{% else %}
  {% assign collection = collections[selected_collection] %}
{% endif %}

{% comment %}
Based on source: https://gist.github.com/carolineschnapp/9122054
{% endcomment %}

{% assign order_form_pagination = settings.order_form_pagination | plus: 0 %}
{% paginate collection.products by order_form_pagination %}
<div class="page-width">
  <form action="/cart" >

    <header class="grid medium-up--grid--table section-header small--text-center">
      <div class="grid__item medium-up--one-half section-header__item">
        <h1 class="section-header__title">{% if template contains 'page' %}{{ page.title }}{% else %}{{ collection.title }}{% endif %}</h1>
      </div>
      <div class="grid__item medium-up--one-half medium-up--text-right section-header__item">
        <div class="collection-sort">
          <label class="collection-sort__label">{{ 'collections.sorting.title_tags' | t }}</label>
          <select id='select-collection' class="collection-sort__input">
            {% for collection in collections %}
              <option value="{{ collection.handle }}">{{ collection.title }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </header>

    {% if collection.products_count > 0 %}
      <div id="StickyOrderFormBar" class="order-form__menubar">
        <input class="btn btn--secondary-accent" type="submit" id="post-order" value="{{ 'order_form.go_to_checkout' | t }}" />
        <input class="btn btn--secondary-accent" type="submit" id="post-to-cart" value="{{ 'order_form.save_to_cart' | t }}" />
        <div class="order-form__error-message--container"><span class="order-form__error-message">Check that you have selected all required options </span></div>
        <h4 class="order-form__menubar--cart-total"><b>{{ 'order_form.cart_total' | t }} : </b> <span class="cart-total">{{ cart.total_price | money}}</span><h4>
      </div>
    {% endif %}

    {% if template contains 'page' and page.content.size > 0 %}
      <div class="rte">
        {{ page.content }}
      </div>
    {% elsif collection.description.size > 0 %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}

    {% if collection.products_count > 0 %}
	    <div>
        <table class="order-form__table"
          {% if settings.custom_input_one_optionality %} data-required-0="{{ settings.custom_input_one_label }}" {% endif %}
          {% if settings.custom_input_two_optionality %} data-required-1="{{ settings.custom_input_two_label }}" {% endif %}
          {% if settings.custom_input_three_optionality %} data-required-2="{{ settings.custom_input_three_label }}" {% endif %}
          {% if settings.custom_input_four_optionality %} data-required-3="{{ settings.custom_input_four_label }}" {% endif %}
        >
          <tbody>
            {% for product in collection.products %}
              {% if product.variants.size > 1 or product.template_suffix == 'customizable'%}
                {% assign rows = product.variants.size | plus:2 %}
                {% for i in (1..rows) %}
        	        {% assign row_id = i %}
		              {% include 'order-form-row' %}
        	      {% endfor %}
              {% else %}
                {% assign row_id = 1 %}
                {% include 'order-form-row' %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

  </form>

  {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
    <div class='save-to-cart' style="margin: 0 auto; width: 100%">
      <div class="order-form__tablecell--popuptext" style="display:none;">{{ 'order_form.make_sure_to_save_to_cart' | t }}</div>
    </div>
  {% endif %}
</div>

<div id="order-form-modal" class="modal">
  <div class="order-form-modal__inner">
    <div class="order-form-modal__close">
      {% include 'icon-close' %}
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </div>
    <div class="line-item__container">
      {% assign custom_numbers = "one two three four" | split: ' ' %}
      {% assign custom_required_text = true %}
      {% for custom_number in custom_numbers %}
        {% assign custom_input = "custom_input_" | append: custom_number %}
        {% include 'custom-property' %}
      {% endfor %}
    </div>
    {% if settings[custom_input_optionality] %}<p>{{ 'products.product.must_be_selected' | t }}</p>{% endif %}
  </div>
</div>

{% endpaginate %}

{% if collection.products_count > 0 %}
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'order-form.js' | asset_url }}" defer="defer"></script>
{% endif %}
